################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CVE-2020-17087/.vs/CVE-2020-17087/v16
