################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CVE-2020-17087/.vs/CVE-2020-17087/v16
/CVE-2020-17087/CngGuard/x64/Release/CngGuard.tlog
/CVE-2020-17087/CngGuard/x64/Release
/CVE-2020-17087/CVE-2020-17087/x64/Release/CVE-2020-17087.tlog
/CVE-2020-17087/CVE-2020-17087/x64/Release
/CVE-2020-17087/x64/Release/CngGuard
